*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.stockcounter{
    width: 317px;
    border: 1px solid #333;
    background-color: #ccc;
    padding: 10px;
}

    .stockcounter form {
        display: grid;
        grid-template-columns: 85px 65px 65px 65px;
        /*grid-auto-rows: 50px;*/
        grid-gap: 5px;
    }

.stockcounter form input{
    border: 2px solid #333;
    cursor: pointer;
    font-size: 18px;
}

    .stockcounter form input[type='button']:hover {
        box-shadow: 1px 1px 2px #333;
    }

.stockcounter form input[type='text']{
    text-align: center;
    padding:0 5px;
}

.stockcounter form .add{
    background-color: #3cbdad;
}

.stockcounter form .del{
    background-color: #d53c20;
}

.stockcounter form .total {
    background-color: #3cbdad;
}

.stockcounter form .space{
    border:none;
}

.stockcounter form .title{
    border:none;
    grid-column: span 4;
}

.stockcounter form .result{
    grid-column: span 2;
}
